extends ./layout

block content
  ul
    li
        a(href="./bar.pug") bar
    li
        a(href="./line.pug") line
    li
        a(href="./area.pug") area
    li
        a(href="./scatter.pug") scatter
    li
        a(href="./donut.pug") donut
    li
        a(href="./histogram.pug") histogram
        

block scripts
  