extends ./layout

block content
  <div id="bar-chart-responsive" class="fl" style="width:50%;height:300px;"></div>
  <div id="bar-chart-grouped" class="fl" style="width:50%;height:300px;"></div>

block scripts
  script(src="./scripts/bar.ts")